page-start {
  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    max-height: 50%;
    max-width: 100%;
    margin: 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;
  }
}
