<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedCategory.title}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div padding>
      <ion-segment [(ngModel)]="topic">
        <ion-segment-button *ngFor="let topic of topics" value="{{topic.key}}">{{topic.title}}</ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-list>
        <button ion-item *ngFor="let product of products" (click)="selectProduct($event, product)">
          <ion-thumbnail item-left>
            <img src="{{product.thumbnail}}">
          </ion-thumbnail>
    			<h3>{{product.title}}</h3>
    			<p>
    				{{product.description}}
    			</p>
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>
